header #picture {
    background-position: center 25%;
    background-repeat: no-repeat;
    background-size: 64px auto;
    float: left;
    height: 64px;
    margin-right: 18px;
    overflow: hidden;
    width: 64px;
}
